APP_NAME="Liga Deportiva API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://liga-mestre-api.onrender.com
FRONTEND_URLS=https://ligadeportivafront.netlify.app,https://liga-deportiva-front.onrender.com,http://localhost:4200,http://127.0.0.1:4200

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DATABASE_URL=

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

DEMO_ADMIN_KEY=
